#header {
  color: blue;
  text-align: center;
}

body {
  background-color: lightgray;
}

#langdrop {
  width: 75px;
}

.selects {
  font-size: 30px;
}

.textareas {
  width: 25%;
  height: 200px;
}
