<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Bootleg Google Translate</title>
    <link
      href="{{url_for('static', filename='styles.css')}}"
      rel="stylesheet"
    />
    <script src="main.py"></script>
  </head>
  <body>
    <div id="header">
      <h1>Bootleg Google Translate</h1>
    </div>
    <div>
      <form action="{{url_for('main')}}" method="POST">
        {{ form.selectin.label(class='selects') }}: {{ form.selectin }}
        <br />
        {{ form.textin(class='textareas') }}
        <br />
        {{ form.selectout.label(class='selects') }}: {{ form.selectout }}
        <br />
        {{ form.textout(class='textareas') }}
        <br />
        {{ form.submit }}
      </form>
    </div>
  </body>
</html>
